@model IEnumerable<GYM.Models.Signup>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <!-- Header Starts -->
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="main-header">
                    <h4>Fitnesh Signup List</h4>
                    <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item">
                            <a href="#">
                                <i class="icofont icofont-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Signup List</a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>
        <!-- Header end -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    @*<div class="card-header">
                            <h5 class="card-header-text">Price List</h5>

                        </div>*@

                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.EmailId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CreateDate)
                                            </th>
                                        </tr>

                                    </thead>

                                    <thead>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(model => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.EmailId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.CreateDate)
                                                </td>
                                            </tr>
                                        }
                                    </thead>
                                </table>
                                <form method="post" asp-controller="SignUpView" asp-action="Export">
                                  
                                </form>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
