@model GYM.Models.Trainers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <!-- Main content starts -->
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="main-header">
                    <h4>Trainers Delete Details </h4>
                    <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item">
                            <a asp-for="Index">
                                <i class="icofont icofont-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!"> Trainers Delete </a>
                        </li>

                    </ol>
                </div>
            </div>
        </div>

        <div class="row box-shadow">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-header-text"> Delete Only</h5>
                        <div class="f-right">
                            <a href="" data-toggle="modal" data-target="#shadow-top">
                                <i class="icofont icofont-code-alt"></i>
                            </a>
                        </div>
                        <p>Are you sure you want to delete this?</p>
                    </div>
                    <div class="modal fade modal-flex" id="shadow-top" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h5 class="modal-title">Code Explanation for Top Side Shadow </h5>
                                </div>
                                <!-- end of modal-header -->
                                <!-- end of modal-body -->
                            </div>
                            <!-- end of modal-content -->
                        </div>
                        <!-- end of modal-dialog -->
                    </div>
                    <!-- end of modal -->

                    <div class="row card-block box-list">

                        <div class="col-lg-6">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.TrainerType)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.TrainerType)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Facebook)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Facebook)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Twitter)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Twitter)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Behance)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Behance)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Description)
                                </dd>
                               
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CreateDate)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CreateDate)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.ModifiedDate)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.ModifiedDate)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IsActive)
                                </dd>
                            </dl>

                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                <a asp-action="Index">Back to List</a>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <img src="~/TrainersImages/@Model.ProfilePhoto" class="img-responsive img-rounded" />
                        </div>
                    </div>
                <!-- end of card-main -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
    </div>
</div>
</div>