@model GYM.ViewModel.WrapperViewModel

@{
    ViewData["Title"] = "Home Page";
}


<!-- =========================
    HOME SECTION DYNEMIC COMPLITE
             IMAGE DYNEMIC ISSUE
============================== -->
<section id="home" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-1 col-md-10 col-sm-12">
                @foreach (var bnr in Model.Banner)
                {
                    @if (bnr.IsActive == true)
                    {
                        <h3 class="wow bounceIn" data-wow-delay="0.9s">@bnr.Title</h3>
                        <h1 class="wow fadeInUp" data-wow-delay="1.6s">@bnr.Heading</h1>
                    }
                }

                <a href="#overview" class="wow fadeInUp smoothScroll btn btn-default" data-wow-delay="2s">LEARN MORE</a>
            </div>

        </div>
    </div>
</section>


<!-- =========================
    OVERVIEW SECTION DYNEMIC COMPLITE
============================== -->
<section id="overview" class="parallax-section">
    <div class="container">
        @foreach (var about in Model.About)
        {
            @if (about.IsActive == true)
            {
                <div class="row">

                    <div class="col-md-6 col-sm-12">
                        <img src="~/AboutImages/@about.AboutPhoto" class="img-responsive" alt="Overview">
                        <blockquote class="wow fadeInUp" data-wow-delay="1.9s">@about.ShortDesc </blockquote>
                    </div>

                    <div class="col-md-1"></div>

                    <div class="wow fadeInUp col-md-4 col-sm-12" data-wow-delay="1s">
                        <div class="overview-detail">
                            <h2>@about.Heading</h2>
                            <p>@about.FullDesc<a href="blog-single.html">blog page</a>.</p>
                            <a href="#trainer" class="btn btn-default smoothScroll">Let us begin</a>
                        </div>
                    </div>

                    <div class="col-md-1"></div>

                </div>
            }
        }
    </div>
</section>


<!-- =========================
    TRAINER SECTION
============================== -->
<section id="trainer" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="1.3s">
                <h2>our Trainers</h2>
                <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo.</p>
            </div>
            @foreach(var tnr in Model.Trainers) {
            <div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="1.9s">
                <div class="trainer-thumb">
                    <img src="~/TrainersImages/@tnr.ProfilePhoto" class="img-responsive" alt="Trainer">
                   
                    <div class="trainer-overlay">
                        <div class="trainer-des">
                            <h2>@tnr.Name</h2>
                            <h3>@tnr.TrainerType</h3>
                            <ul class="social-icon">
                                <li><a href="@tnr.Facebook" class="fa fa-facebook wow fadeInUp" data-wow-delay="1s"></a></li>
                                <li><a href="@tnr.Twitter" class="fa fa-twitter wow fadeInUp" data-wow-delay="1.3s"></a></li>
                                <li><a href="@tnr.Behance" class="fa fa-behance wow fadeInUp" data-wow-delay="1.9s"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p>@tnr.Description</p>
            </div>

            }

        </div>
    </div>
</section>


<!-- =========================
    NEWSLETTER SECTION COMPLITE
============================== -->
<section id="newsletter" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInUp col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10" data-wow-delay="0.9s">
                <h2>Signup Newsletter</h2>
                <p>Get discounts for your personal fitness and gym services now.</p>
                <div class="newsletter_detail">
                    <form asp-controller="Home" asp-action="Index" method="post" id="newsletter-signup">
                        <div class="col-md-6 col-sm-6">
                            <input name="Name" type="text" class="form-control" id="name" placeholder="Name" />
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <input name="EmailId" type="email" class="form-control" id="email" placeholder="Email" />
                        </div>
                        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                            <input name="submit" type="submit" class="form-control" id="submit" value="SEND MESSAGE">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- =========================
    BLOG SECTION
============================== -->
<section id="blog" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <h2>Fitness Blog</h2>
                <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo.</p>
            </div>
            @foreach (var Blog in Model.Blog)
            {
                <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="0.9s">
                    <div class="blog-thumb">
                        <span class="blog-date">@Blog.BlogType</span>
                       
                        <h3 class="blog-title">
                            @*<a href="/Home/blogsingle/@Blog.Id">@Blog.BlogTitle</a>*@
                            <a asp-action="Blog" asp-controller="Home" asp-route-id="@Blog.Id">@Blog.BlogTitle</a>
                        </h3>
                        <h5 id="blog-author">@Blog.WritterName</h5>
                    </div>
                </div>
            }




        </div>
    </div>
</section>

<!-- =========================
    PRICE SECTION  DYNEMIC COMPLITE
============================== -->
<section id="price" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.9s">
                <h2>Our Prices</h2>
                <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo.</p>
            </div>
            @foreach(var _priceData in Model.Price)
            {
                @if (_priceData.IsActive == true) { 
                    <div class="wow fadeInUp col-md-4 col-sm-6" data-wow-delay="1s">
                        <div class="pricing__item">
                            <h3 class="pricing__title">@_priceData.Heading</h3>
                            <div class="pricing__price"><span class="pricing__currency">$</span>@_priceData.Mony</div>
                            <ul class="pricing__feature-list">
                                <li class="pricing__feature"> @_priceData.TrainerNumber</li>
                                <li class="pricing__feature"> @_priceData.Services</li>
                                <li class="pricing__feature"> @_priceData.Courses</li>
                                <li class="pricing__feature"> @_priceData.Massages</li>
                                <li class="pricing__feature"> @_priceData.Aerobics</li>
                            </ul>
                            <button class="pricing__action">Sign Up Now</button>
                        </div>
                    </div>
                }
               
            }
            
        </div>
    </div>
</section>


<!-- =========================
    TESTIMONIAL SECTION
============================== -->
<section id="testimonial" class="parallax-section">
    <div class="container">
        <div class="row">

            <!-- Testimonial Owl Carousel section
            ================================================== -->
            <div id="owl-testimonial" class="owl-carousel">

                <div class="item col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 wow fadeInUp" data-wow-delay="0.6s">
                    <i class="fa fa-quote-left"></i>
                    <h3>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue vulputate.</h3>
                    <h4>Sandar ( Fashion Designer )</h4>
                </div>

                <div class="item col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 wow fadeInUp" data-wow-delay="0.6s">
                    <i class="fa fa-quote-left"></i>
                    <h3>Yes! Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus augue.</h3>
                    <h4>James Job ( Social Assistant )</h4>
                </div>

                <div class="item col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 wow fadeInUp" data-wow-delay="0.6s">
                    <i class="fa fa-quote-left"></i>
                    <h3>Sed dapibus rutrum lobortis. Sed nec interdum nunc, quis sodales ante. Maecenas volutpat congue.</h3>
                    <h4>Mark Otto ( New Cyclist )</h4>
                </div>

                <div class="item col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 wow fadeInUp" data-wow-delay="0.6s">
                    <i class="fa fa-quote-left"></i>
                    <h3>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet, wisi risus purus.</h3>
                    <h4>David Moore ( Pro Boxer )</h4>
                </div>

            </div>

        </div>
    </div>
</section>

